Fishing.io/.vs/
Fishing.io/packages/
Fishing.io/obj/Debug/
Fishing.io/bin/
Fishing.io/Fishing.io/bin/
Fishing.io/Fishing.io/obj/Debug/build.force
Fishing.io/.vs/
Fishing.io/Fishing.io.DATA/obj/Debug/Fishing.io.DATA.csprojResolveAssemblyReference.cache
Fishing.io/Fishing.io.UI.MVC/obj/Debug/Fishing.io.UI.csprojResolveAssemblyReference.cache
Fishing.io/packages/
Fishing.io/Fishing.io.UI.MVC/obj/
Fishing.io/Fishing.io.UI.MVC/bin/roslyn/VBCSCompiler.exe
Fishing.io/Fishing.io.UI.MVC/bin/roslyn/System.ValueTuple.dll
Fishing.io/Fishing.io.UI.MVC/bin/roslyn/System.Security.Cryptography.Primitives.dll
Fishing.io/Fishing.io.UI.MVC/bin/roslyn/System.IO.FileSystem.dll
Fishing.io/Fishing.io.UI.MVC/bin/roslyn/System.IO.FileSystem.Primitives.dll
Fishing.io/Fishing.io.UI.MVC/bin/roslyn/System.Collections.Immutable.dll
Fishing.io/Fishing.io.UI.MVC/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Fishing.io/Fishing.io.UI.MVC/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Fishing.io/Fishing.io.UI.MVC/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Fishing.io/Fishing.io.UI.MVC/bin/roslyn/Microsoft.CodeAnalysis.dll
Fishing.io/Fishing.io.UI.MVC/bin/roslyn/System.Reflection.Metadata.dll
