Fishing.io/Fishing.io.DATA/obj/Debug/Fishing.io.DATA.csproj.FileListAbsolute.txt
Fishing.io/.vs/
Fishing.io/Fishing.io.DATA/obj/
Fishing.io/Fishing.io.UI.MVC/bin/
Fishing.io/Fishing.io.UI.MVC/obj/Debug/Fishing.io.UI.MVC.csproj.CopyComplete
