Fishing.io/Fishing.io.DATA/obj/Debug/Fishing.io.DATA.csproj.FileListAbsolute.txt
Fishing.io/.vs/
Fishing.io/Fishing.io.DATA/obj/
Fishing.io/Fishing.io.UI.MVC/bin/
Fishing.io/Fishing.io.UI.MVC/obj/Debug/Fishing.io.UI.MVC.csproj.CopyComplete
Fishing.io/Fishing.io.UI.MVC/obj/Debug/build.force
Fishing.io/packages/EntityFramework.6.1.0/lib/net40/EntityFramework.SqlServer.xml
Fishing.io/packages/EntityFramework.6.1.0/content/App.config.transform
Fishing.io/packages/EntityFramework.6.1.0/content/Web.config.transform
Fishing.io/packages/EntityFramework.6.1.0/tools/about_EntityFramework.help.txt
Fishing.io/packages/EntityFramework.6.1.0/lib/net45/EntityFramework.SqlServer.xml
Fishing.io/packages/EntityFramework.6.1.0/lib/net40/EntityFramework.xml
Fishing.io/packages/EntityFramework.6.1.0/lib/net45/EntityFramework.xml
