html, body{
    overflow-x:hidden;
}
body {
    background-color:white !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    max-width: 100% !important;
    width:98% !important;
    margin:auto;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.right-align {
    text-align: right;
}

.header {
    height: 15vw;
}

.banner-background {
    background-image: url('Images/summer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-image {
    height: 14vw;
    width: 12vw;
    margin-left: 30vw;
    margin-top: 2vw;
}
.margin-top-vw{
    margin-top: 2vw;
    margin-left:25vw;
}
.banner-text {
    font-size: 3vw;
    color: white;
    text-shadow: 1px 1px black;
    margin-left: 20vw;
}
.width50{
    max-width:50%;
}
a:hover {
    text-decoration:none !important;
}
.form-control {
    width:50vw;
}
.logoImg{
    height:10vw;
}
@media(max-width: 900px) {
    /*Mobile Beginning*/
    .grid{
        margin-left: 9vw !important;
    }
    .grid-item{
        min-width: 150px !important;
        min-height: 200px !important;
    }
    .cardBottom{
        display:none;
    }
    .info-button{
        display:none;
    }
    .cart-button{
        display:none;
    }
    .picPad {
        padding-top: 1vw !important;
    }
    .cardPic{
        height: 185px !important;
        width: 140px !important;
    }
}
.center{
    width:100%;
    margin:auto;
}
.grid{
    max-width:100% !important;
    width:98% !important;
    margin-left:5vw;
    margin-right:auto;
}

.grid-item {
    width: 15vw;
    min-width: 75px;
    height: 20vw;
    min-height: 100px;
    float: left !important;
    background: lightgrey !important;
    border: 2px solid #333 !important;
    border-color: hsla(0, 0%, 0%, 0.5) !important;
    border-radius: 5px !important;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 0;
    text-align: center !important;
    font-weight: 900 !important;
}
.cardBottom{
    padding-top:2.8vw;
}
.info-button {
    position: absolute;
    height: 3vw;
    width: 4vw;
    margin-top: .1vw;
    left: -0.05vw;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 0 0 0 5px;
    font-size:1.5vw;
}
.cart-button {
    position:absolute;
    height: 3vw;
    width: 11vw;
    margin-top: .1vw;
    right:-0.1vw;
    border-radius: 0 0 5px 0;
    font-size:1vw;
}
.cardPic {
    height: 12vw;
    border-radius: 5px;
    border: 2px solid black;
}
.picPad{
    padding-top:2vw;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.padding{
    padding-left:10px;
}