body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 95%;
    margin:auto;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.right-align {
    text-align: right;
}

.header {
    height: 15vw;
}

.banner-background {
    background-image: url('Images/summer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-image {
    height: 14vw;
    width: 12vw;
    margin-left: 28vw;
    margin-top: 2vw;
}

.banner-text {
    font-size: 5vw;
    color: greenyellow;
    text-shadow: 1px 1px orange;
    margin-left: 20vw;
    margin-top: 3vw;
}
.width50{
    max-width:50%;
}
a:hover {
    text-decoration:none !important;
}
.form-control {
    width:50vw;
}

@media(max-width: 1010px) {
    /*Mobile Beginning*/
}

.grid-item {
    width: 350px !important;
    height: 400px !important;
    float: left !important;
    background: lightgrey !important;
    border: 2px solid #333 !important;
    border-color: hsla(0, 0%, 0%, 0.5) !important;
    border-radius: 5px !important;
    margin: 20px !important;
    padding: 20px !important;
    text-align: center !important;
    font-weight: 900 !important;
}